<%- include ('partials/header') %>


<div class='jumbotron'>
<h1> USER DETAIL </h1> <h3> <%= user.name %>
<a href='/' class='btn btn-lg '>HOME</a>
</div>


<div class='container'>
<div class='row'>
<div class='col-md-8'>



  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><h5>USERNAME </h5> <%= user.name %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><h5>AGE </h5> <%= user.age %></h6>
    <p class="card-text"><h5>CLASS </h5> <%= user.std %></p>
    
  </div>
</div>




</div> 


</div>


</div>




<%- include ('partials/footer') %>